# anaconda 4+
xarray
ipywidgets >= 7.0
#bokeh<=0.12.9,>=0.12.6
bokeh>=0.12.16 # need to update for bokeh 1.0 !!!
matplotlib < 3.5 # something breaks 3.4 -> 3.5
h5py
git+https://github.com/eegml/eegml-signal.git
panel  # from pyviz project, allows for notebook/web page 
# eeghdf
